services:
  mongo:
    image: mongo:latest
    command: mongod --quiet --logpath /dev/null
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD:?MONGO_PASSWORD is required}
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

  mi-backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    env_file: ./backend/.env.docker.example
    environment:
      - MI_DB_URI=mongodb://${MONGO_USERNAME:-admin}:${MONGO_PASSWORD}@mongo:27017/movinin?authSource=admin&appName=movinin
      - MI_ADMIN_HOST=${SERVICE_URL_MI_ADMIN:-http://localhost:3003}/
      - MI_FRONTEND_HOST=${SERVICE_URL_MI_FRONTEND:-http://localhost:8081}/
      - MI_AUTH_COOKIE_DOMAIN=.sslip.io
    restart: always
    depends_on:
      - mongo
    volumes:
      - cdn:/var/www/cdn/movinin
      - backend_logs:/movinin/backend/logs

  mi-admin:
    build:
      context: .
      dockerfile: ./admin/Dockerfile
      args:
        SERVICE_URL_MI_BACKEND: ${SERVICE_URL_MI_BACKEND:-http://localhost:4004}
    depends_on:
      - mi-backend
    restart: always

  mi-frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
      args:
        SERVICE_URL_MI_BACKEND: ${SERVICE_URL_MI_BACKEND:-http://localhost:4004}
    depends_on:
      - mi-backend
    restart: always
    volumes:
      - cdn:/var/www/cdn/movinin

volumes:
  cdn:
  mongodb_data:
  mongodb_config:
  backend_logs:
