services:
  mongo:
    image: mongo:latest
    command: mongod --quiet --logpath /dev/null
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

  mi-backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    env_file: ./backend/.env.docker.example
    restart: always
    depends_on:
      - mongo
    volumes:
      - cdn:/var/www/cdn/movinin
      - backend_logs:/movinin/backend/logs

  mi-admin:
    build:
      context: .
      dockerfile: ./admin/Dockerfile
    depends_on:
      - mi-backend
    restart: always

  mi-frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    depends_on:
      - mi-backend
    restart: always
    volumes:
      - cdn:/var/www/cdn/movinin

volumes:
  cdn:
  mongodb_data:
  mongodb_config:
  backend_logs:
