div.agency-filter {
  margin: var(--space-2) 0;
  font-size: 13px;
  text-align: center;
}

div.agency-filter ul.agency-list {
  list-style-type: none;
  font-size: 13px;
  margin: var(--space-3) 0 0;
  padding: 0;
  display: inline-block;
  width: 250px;
}

div.agency-filter ul.agency-list li {
  margin-bottom: var(--space-3);
  margin-left: var(--space-3);
  margin-right: var(--space-4);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

div.agency-filter ul.agency-list li span {
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);
  box-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 0;
  font-weight: 400;
  margin-left: var(--space-1);
  width: 62px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.agency-filter ul.agency-list li span img {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

div.agency-filter ul.agency-list li input[type='checkbox'] {
  cursor: pointer;
  display: inline-flex;
}

div.agency-filter div.filter-actions {
  text-align: center;
  padding-bottom: var(--space-2);
}

div.agency-filter div.filter-actions span.uncheckall {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
}
