section.property-list .empty-list {
  margin-top: 15px;
  text-align: center;
  width: 250px;
}

section.property-list {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-10) var(--space-6);
  width: 100%;
}

@media only screen and (width <= 959px) {
  section.property-list {
    grid-template-columns: 1fr;
    gap: var(--space-6);
  }
}

@media only screen and (width >= 960px) and (width <= 1200px) {
  section.property-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width > 1200px) {
  section.property-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
